:root {
  --main-padding: 5px;
  --main-color: green;
  --primary-color: #03A9F4;
  --secondary-color: #FFEB3B;
  --grey-color: #dadada;

  --text-color: #2d2d2d;

  --main-shadow: 0 1px 6px #00000087;
    --out-line: 0 0 0 .7px #3131319e;
}

::selection {
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
input {
  outline: none;
  border: none;
  padding: 5px var(--main-padding);
  width: 100%;

  &:focus {
    outline: none;
  }
}

select:focus {
  outline: none;
}


::-webkit-scrollbar {
  display: none;
}