.container {
    width: 100%;
    margin: 5px auto;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);

    @media(min-width: 768px) {
        width: 70%;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full {
    flex: 1;
}

.column {
    flex-direction: column;
}
.section-title {
    padding: var(--main-padding) 10px;
}
.hidden-in-small {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.hidden-in-large {
    display: flex;

    @media (min-width: 768px) {
        display: none;
    }
}